doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="map.css")
    title My CTA map
  body
    div(id="map")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js")
    //- script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEEF6lOjdGNiqMZYrQczJi0JpK7R0iZhs")
    script(src="map.js")
    
